#documentContent {
    padding-top: 0;
    background-color: #fff;
}

.button-options {
    padding-top: 15px;
}

.navbar .navbar-brand {
    color: #777;
    font-weight: normal;
}

.four-up-chart-section {
    border: 1px solid;
}

.chart {
    padding-top: 20px;
}

h3 {
    text-align: center;
    padding-bottom: 5px;
}

.mainContent {
    width: 60%;
}

.centered {
    text-align: center;
}